<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MisterJimson.Cheeseknife" version="1.1.0" targetFramework="monoandroid50" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid50" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.1" targetFramework="monoandroid50" />
  <package id="RestSharp" version="105.2.3" targetFramework="monoandroid50" />
  <package id="sqlite-net" version="1.0.8" targetFramework="monoandroid50" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="monoandroid50" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="monoandroid50" />
  <package id="Square.OkHttp" version="2.7.5.0" targetFramework="monoandroid50" />
  <package id="Square.OkIO" version="1.6.0.0" targetFramework="monoandroid50" />
  <package id="Square.Picasso" version="2.5.2.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Design" version="22.2.0.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.0.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.0.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Bindings.CircleImageView" version="2.1.0" targetFramework="monoandroid50" />
</packages>