<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastAndroidCamera" version="2.0.0" targetFramework="monoandroid71" />
  <package id="JosephAntolick.EZCompress1.Plugin" version="1.0.0.0" targetFramework="monoandroid71" />
  <package id="MisterJimson.Cheeseknife" version="1.1.0" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="MonoAndroid50" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.1" targetFramework="MonoAndroid50" />
  <package id="RestSharp" version="105.2.3" targetFramework="MonoAndroid50" />
  <package id="sqlite-net" version="1.0.8" targetFramework="MonoAndroid50" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="MonoAndroid50" />
  <package id="Square.OkHttp" version="2.7.5.0" targetFramework="MonoAndroid50" />
  <package id="Square.OkIO" version="1.6.0.0" targetFramework="MonoAndroid50" />
  <package id="Square.Picasso" version="2.5.2.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Bindings.CircleImageView" version="2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Build.Download" version="0.4.3" targetFramework="monoandroid71" />
  <package id="ZXing.Net.Mobile" version="2.2.9" targetFramework="monoandroid71" />
</packages>