{
	"com.instagram": "{\"ClientId\":\"********************************\",\"ClientSecret\":\"********************************\",\"Scope\":\"basic\",\"RedirectUrl\":\"***********************************************\"}"
}