<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="steepshot_url"         value="https://steepshot.org/api/v1/" />
    <add key="steepshot_url_qa"   value="https://qa.steepshot.org/api/v1/" />

    <add key="golos_url"         value="https://golos.steepshot.org/api/v1/" />
    <add key="golos_url_qa"   value="https://qa.golos.steepshot.org/api/v1/" />
  </appSettings>
</configuration>